.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: white;
  box-shadow: 0 2px 5px gray;
  width: 100%;
}

.content {
  padding: 8px;
  max-width: 1200px;
  align-self: center;
  width: 100%;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.buttonbar button {
  margin-right: 8px;
}

.buttonbar button:not(:last-child) {
  margin-right: 8px; /* Adjust the value as needed */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 506px;
}